
*{
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-wrap: anywhere;
   
}
#myButton{
    color: black;
    background-color: rgb(194, 155, 155);
    position: absolute;
    bottom: 30px;
    left:20px;
    font-size: 5vw;
    padding: 6px;
    border: none;
    border-radius: 50px;
    
}

#replay{
    color: black;
    background-color: rgb(194, 155, 155);
    position: absolute;
    bottom: 30px;
    right:20px;
    font-size: 5.5vw;
    padding: 6px;
    border: none;
    border-radius: 50px;

}

body{
    background-color: hsla(120, 69%, 79%, 0.398);
    padding-top: 80px;
   
}
#span{
    font-size: 15vw;
    color: rgb(238, 15, 15);
    text-decoration: underline;
}
#span1{
    color:  rgb(217, 234, 29);
    font-size: 8vw;
}


.notes{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: auto;
    /* border: 1px solid black; */
    /* margin-top: 50px; */
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1)), url("./Screenshot\ 2026-01-12\ at\ 15.19.33.png");
    
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
    
  
  

}
.myP{
    /* border: 1px solid; */
    width: 100vw;
    height: 100vh;
    text-align: center;
    /* margin: auto; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position: relative;
    padding-top: 50%;
    color: rgba(201, 29, 213, 0.777);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);


   
    /* padding: 1rem; */
    /* padding-right: 10px; */
    /* background-color: bisque; */


}
.first{
    font-size: 13vw;

}
.second{
    font-size: 13vw;
    visibility:hidden ;
    /* height: 300px; */
}
.third{
    font-size: 13vw;
    visibility:hidden ;
    /* height: auto; */
}
.fourth{
    font-size: 13vw;
    visibility:hidden ;
}
.fifth{
    font-size: 13vw;
    visibility:hidden ;
}
.sixth{
    font-size: 20vw;
    height: 80vh;
    width: 100vw;
    padding-top: 40%;
    visibility:hidden ;
}
footer{
    bottom: 20%;
    position: absolute;
    font-size : 5vw;
    left:25%;
    visibility: hidden;
    

}
.apple{
    background-color: rgba(120, 145, 95, 0.684);
    padding: 10px;
    border-radius: 10px;
}
#p{
    color: hsl(178, 72%, 45%);
    font-size: 6vw;
}
    
.myH1{
    
    
    text-align: center;
    font-size: 7vw;
    font-family:cursive;
    color: white;
    /* border: 1px solid black; */
    top: 0;
    position: fixed;
    /* top: 0;
    left: 0; */
    width: 100%;
    z-index: 99999;
    /* padding: 1rem; */
    background-color: black;
 
   
}
#H1{
animation: blinker 2s linear infinite;
}
@keyframes blinker{
    0% { opacity: 1.0;}
    50%{ opacity: 0.0;}
    100% { opacity: 1.0;}
}